<div class="visible-xs hidden-sm hidden-md hidden-lg">
    <div class="media logged-user">
        <img alt="" src="@Url.Action("Placeholder", "Image", new { width = 100, height = 100, text = "Avatar" })" class="media-object">
        <div class="media-body">
            <h4><a href="#">John Doe</a></h4>
            <span>"Hello There..."</span>
        </div>
    </div>

    <h5 class="left-nav-title">Account Information</h5>
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="#"><i class="fa fa-user"></i> <span>Profile</span></a></li>
        <li><a href="#"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
        <li><a href="@Url.Action("Logout", "Home")"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
    </ul>
</div>
