
@{ViewBag.Title = "Contact";}

<div class="container">
    <div id="contactUs">
        <div class="panel-title" style="border-bottom:2px solid #eee"><h3><b>联系我们</b></h3></div>
        <div class="panel-title"><h5><b>用户帮助</b></h5></div>
        <ul>
            <li>
                如果您付款或消费遇到问题，请致电以下电话<br>
                <ul>
                    <li>学校饭堂工作室：10xxxxxxx</li>
                </ul>
            </li>
        </ul>
        <div class="panel-title">
            <h5>
                <b>提交BUG</b><br>
                如果您发现了我们的一个安全漏洞，请<a href="#" style="text-decoration:none">点击</a>
            </h5>
        </div>
    </div>
    <div id="aboutUs">
        <div class="panel-title" style="border-bottom:2px solid #eee"><h3><b>关于我们</b></h3></div>
        <h5>在线食堂点餐系统主要是为高校师生服务的。旨在为在校师生提供优质，便利的服务。为各大食堂提升行业竞争力。</h5>
        <div class="panel-title"><h5><b>如果您忙于学业或者教学工作：</b></h5></div>
        <ul>
            <li>在线食堂点餐系统全面展示食堂菜色，让您快速找到您喜爱的菜色。</li>
            <li>在线食堂点餐系统每天帮您快捷订餐，让您享受优质的就餐体验。</li>
            <li>在线食堂点餐系统帮你避开就餐高峰，提高效率。</li>
        </ul>
        <div class="panel-title"><h5><b>如果您需要提升食堂的行业竞争力</b></h5></div>
        <ul>
            <li>在线食堂点餐系统有追求高效的消费者。</li>
            <li>在线食堂点餐系统有完善的业务逻辑，能提高您的管理效率。</li>
            <li>在线食堂点餐系统能让你的管理更智能方便，节省人力物力。</li>
            <li>在线食堂点餐系统能沟通您和消费者的桥梁。</li>
        </ul>
    </div>
</div>